{% extends 'base.html' %}
{% block title %} Add Meal {% endblock %}

{% block content %}
    <div class="wrapper wrapper-content">
        <div class="row">
            <div class="col-md-12">
                <div class="ibox">
                    <div class="ibox-title">
                        <div class="panel">
                            <div class="card-header mb-3">
                                <h4>Add Meal</h4>
                                <h5 class="text-info">It is {% now "j F Y, H:i" %}</h5>
                            </div>


                            <form method="post" class="form-horizontal" novalidate>
                                {% csrf_token %}

                                {{ form.non_field_errors }}

                                {% for hidden_field in form.hidden_fields %}
                                    {% if hidden_field.errors %}
                                        <ul>
                                            {% for error in hidden_field.errors %}
                                                <li>(Hidden field {{ hidden_field.name }}) {{ error }}</li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                    {{ hidden_field }}
                                {% endfor %}

                                {% for field in form.visible_fields %}
                                    {% if field.field.widget.input_type == 'text' %}
                                        <div class="form-group" id="data_1">
                                            <label class="font-normal font-weight-bold"
                                                   for="{{ field.id_for_label }}">{{ field.label_tag }}</label>
                                            <div class="input-group date">
                                                    <span class="input-group-addon"><i
                                                            class="fa fa-calendar"></i></span>
                                                {{ field }}
                                            </div>
                                        </div>
                                    {% elif field.field.widget.input_type == 'select' %}
                                        <div class="form-group">
                                            <label class="control-label font-normal font-weight-bold"
                                                   for="{{ field.id_for_label }}">
                                                {{ field.label_tag }}
                                            </label>
                                            {{ field }}
                                        </div>
                                    {% endif %}

                                    {% if field.errors %}
                                        <ul>
                                            {% for error in field.errors %}
                                                <li><span class="text-danger m-b-none">{{ error }}</span></li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}

                                    {% if field.help_text %}
                                        <span class="help-block m-b-none">{{ field.help_text }}</span>
                                    {% endif %}
                                {% endfor %}

                                <div class="hr-line-dashed"></div>

                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit"><i class="fa fa-plus-circle"
                                                                                     aria-hidden="true"></i> Add
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}